In [1]:
from preprocessing.preprocessing import DataPreprocessing
from training.train import DataTraining
from mining.routes import RoutesMining
from hmmlearn import hmm
import pandas as pd
from joblib import dump, load
import numpy as np
from functools import reduce
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from generate.generate import GenerateData

c:\Users\kfilonch.SVA\AppData\Local\miniconda3\envs\development\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [196]:
preprocessing = DataPreprocessing("data/train_trips.csv")
df = preprocessing.create_formatted()

### TEST FÜR 1 TRIP

In [279]:
trip = df.loc[df['TripID'] == 1]

In [46]:
df['going_next_station'].shift(1).fillna(0)

0           0.0
1          89.0
2         104.0
3         110.0
4         116.0
          ...
272255     69.0
272256     65.0
272257     52.0
272258     29.0
272259     22.0
Name: going_next_station, Length: 272260, dtype: float64

In [280]:
trip['percent_leaving'] = (trip['Alightings'] / trip['going_next_station'].shift(1).fillna(0)).fillna(0)

C:\Users\kfilonch.SVA\AppData\Local\Temp\ipykernel_54220\238336105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip['percent_leaving'] = (trip['Alightings'] / trip['going_next_station'].shift(1).fillna(0)).fillna(0)

In [281]:
trip['percent_staying'] = None

# Set the first row for the transition from Station 1 to Station 1 to 1
trip.loc[0, 'percent_staying'] = 1

# Calculate the percentage of staying for the rest of the DataFrame
for i in range(1, len(trip)):
    trip.loc[i, 'percent_staying'] = trip.loc[i - 1, 'percent_staying'] * (1 - trip.loc[i - 1, 'percent_leaving'])

# Handle NaN values if necessary (e.g., fill with 0 or drop)
trip.fillna(0, inplace=True)

trip['probability_leaving'] =  trip['percent_staying'].shift(1).fillna(1) - trip['percent_staying']

# View the DataFrame
trip

C:\Users\kfilonch.SVA\AppData\Local\Temp\ipykernel_54220\2468732525.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip['percent_staying'] = None
C:\Users\kfilonch.SVA\AppData\Local\Temp\ipykernel_54220\2468732525.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip.fillna(0, inplace=True)
C:\Users\kfilonch.SVA\AppData\Local\Temp\ipykernel_54220\2468732525.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip['probability_leaving'] =  trip['percent_staying'].shift(1).fillna(1) - trip['percent_staying']

,TrainID,Station,Boardings,Alightings,Arrival,Departure,StationNameShort,sBahnID,ArrivalDate,ArrivalHour,TripID,on_train,going_next_station,percent_leaving,percent_staying,probability_leaving
0,247283,Wedel,89,0,2016-12-10 11:39:06,2016-12-10 11:43:29,WL,S1,2016-12-10,11,1,89,89,0.000000,1.000000,0.000000
1,247283,Rissen,17,2,2016-12-10 11:47:17,2016-12-10 11:47:50,RI,S1,2016-12-10,11,1,15,104,0.022472,1.000000,0.000000
2,247283,Sülldorf,14,8,2016-12-10 11:50:32,2016-12-10 11:52:07,SDF,S1,2016-12-10,11,1,6,110,0.076923,0.977528,0.022472
3,247283,Iserbrook,6,0,2016-12-10 11:53:21,2016-12-10 11:53:57,IS,S1,2016-12-10,11,1,6,116,0.000000,0.902334,0.075194
4,247283,Blankenese,12,7,2016-12-10 11:55:54,2016-12-10 11:57:31,B,S1,2016-12-10,11,1,5,121,0.060345,0.902334,0.000000
5,247283,Hochkamp,5,3,2016-12-10 11:59:45,2016-12-10 12:00:22,HPS,S1,2016-12-10,11,1,2,123,0.024793,0.847882,0.054451
6,247283,Klein Flottbek,3,0,2016-12-10 12:01:49,2016-12-10 12:02:26,FB,S1,2016-12-10,12,1,3,126,0.000000,0.826861,0.021022
7,247283,Othmarschen,46,7,2016-12-10 12:03:58,2016-12-10 12:04:49,OH,S1,2016-12-10,12,1,39,165,0.055556,0.826861,0.000000
8,247283,Bahrenfeld,9,5,2016-12-10 12:06:28,2016-12-10 12:07:10,BAF,S1,2016-12-10,12,1,4,169,0.030303,0.780924,0.045937
9,247283,Altona,136,53,2016-12-10 12:09:59,2016-12-10 12:11:50,AS,S1,2016-12-10,12,1,83,252,0.313609,0.757260,0.023664
10,247283,Königstraße,2,1,2016-12-10 12:13:20,2016-12-10 12:13:58,KS,S1,2016-12-10,12,1,1,253,0.003968,0.519776,0.237484
11,247283,Reeperbahn,28,20,2016-12-10 12:15:06,2016-12-10 12:16:09,RES,S1,2016-12-10,12,1,8,261,0.079051,0.517713,0.002063
12,247283,Landungsbrücken,36,43,2016-12-10 12:17:21,2016-12-10 12:18:07,LAS,S1,2016-12-10,12,1,-7,254,0.164751,0.476787,0.040926
13,247283,Stadthausbrücke,6,11,2016-12-10 12:19:29,2016-12-10 12:20:09,SHS,S1,2016-12-10,12,1,-5,249,0.043307,0.398236,0.078551
14,247283,Jungfernstieg,12,131,2016-12-10 12:21:02,2016-12-10 12:21:54,JUS,S1,2016-12-10,12,1,-119,130,0.526104,0.380990,0.017246
15,247283,Hauptbahnhof,54,89,2016-12-10 12:23:47,2016-12-10 12:24:51,HS,S1,2016-12-10,12,1,-35,95,0.684615,0.180549,0.200440
16,247283,Berliner Tor 1,12,5,2016-12-10 12:26:25,2016-12-10 12:27:21,BTSL,S1,2016-12-10,12,1,7,102,0.052632,0.056942,0.123607
17,247283,Landwehr,6,8,2016-12-10 12:28:49,2016-12-10 12:29:28,LAN,S1,2016-12-10,12,1,-2,100,0.078431,0.053945,0.002997
18,247283,Hasselbrook,17,14,2016-12-10 12:30:47,2016-12-10 12:31:23,HSB,S1,2016-12-10,12,1,3,103,0.140000,0.049714,0.004231
19,247283,Wandsbeker Chaussee,17,21,2016-12-10 12:32:13,2016-12-10 12:33:19,WCH,S1,2016-12-10,12,1,-4,99,0.203883,0.042754,0.006960
20,247283,Friedrichsberg,4,9,2016-12-10 12:34:22,2016-12-10 12:35:03,FBG,S1,2016-12-10,12,1,-5,94,0.090909,0.034038,0.008717
21,247283,Barmbek,22,17,2016-12-10 12:36:40,2016-12-10 12:37:39,BAP,S1,2016-12-10,12,1,5,99,0.180851,0.030943,0.003094
22,247283,Alte Wöhr,3,6,2016-12-10 12:39:04,2016-12-10 12:39:41,AW,S1,2016-12-10,12,1,-3,96,0.060606,0.025347,0.005596
23,247283,Rübenkamp,9,18,2016-12-10 12:40:38,2016-12-10 12:41:21,RP,S1,2016-12-10,12,1,-9,87,0.187500,0.023811,0.001536
24,247283,Ohlsdorf,36,41,2016-12-10 12:43:12,2016-12-10 12:45:13,OPS,S1,2016-12-10,12,1,-5,82,0.471264,0.019346,0.004465
25,247283,Airport,0,82,2016-12-10 12:48:18,2016-12-10 12:54:21,AI,S1,2016-12-10,12,1,-82,0,1.000000,0.010229,0.009117

### NUMERATE STATIONS WITHIN A TRIP

In [87]:
def numerate_stations(group):
    i = 0
    for idx in range(0, len(group)-1):
        i = i + 1
        group.iloc[idx, group.columns.get_loc('station_id')] = i 

    return group

In [112]:
df = df.groupby(['TripID']).apply(numerate_stations)

### Aggregate DATA - Average Boardings, Alightings, Next Station

In [122]:
aggregated_data = df.groupby('Station',  sort=False).mean(['Boardings', 'Alightings','going_next_station']).reset_index()

In [114]:
aggregated_data.iloc[3:len(aggregated_data)]

,Station,Boardings,Alightings,ArrivalHour,TripID,on_train,going_next_station,station_id
3,Iserbrook,7.312748,7.181999,13.100085,5174.196763,0.130750,52.060619,14.267462
4,Blankenese,16.941216,17.753360,13.273422,5189.807986,-0.812143,48.914532,13.351542
5,Hochkamp,5.648071,3.459441,13.337620,5189.807986,2.188630,62.212221,13.669728
6,Klein Flottbek,8.734313,10.140772,13.355023,5189.807986,-1.406458,67.235425,13.666731
7,Othmarschen,13.239393,13.184885,13.350440,5191.252150,0.054509,81.762250,13.662511
8,Bahrenfeld,13.874456,14.463999,13.356528,5191.252150,-0.589543,98.700300,13.659901
9,Altona,43.250385,40.152408,13.377746,5189.408189,3.097977,106.156069,13.616667
10,Königstraße,5.824566,5.752505,13.338632,5189.408189,0.072062,103.302312,13.616859
11,Reeperbahn,18.838536,16.306166,13.329287,5189.408189,2.532370,113.094316,13.617052
12,Landungsbrücken,10.369846,12.854432,13.327649,5189.408189,-2.484586,116.011561,13.617245
13,Stadthausbrücke,8.423507,9.368015,13.327360,5189.408189,-0.944509,116.866763,13.617437
14,Jungfernstieg,26.919846,29.626204,13.307129,5189.408189,-2.706358,108.075626,13.617630
15,Hauptbahnhof,52.987669,54.736320,13.332370,5189.408189,-1.748651,106.936416,13.617245
16,Berliner Tor 1,17.379204,19.229642,13.330346,5188.322347,-1.850438,120.626482,13.618772
17,Landwehr,8.148020,8.308374,13.341043,5188.322347,-0.160355,125.386721,13.618676
18,Hasselbrook,12.841380,12.401176,13.405030,5188.322347,0.440204,119.388744,13.618580
19,Wandsbeker Chaussee,13.046449,14.365520,13.351932,5188.322347,-1.319071,113.298930,13.618483
20,Friedrichsberg,8.659921,8.308663,13.333141,5188.322347,0.351258,110.491664,13.618387
21,Barmbek,22.160644,23.758023,13.325720,5188.322347,-1.597379,105.406379,13.618290
22,Alte Wöhr,5.192927,5.003373,13.330153,5188.322347,0.189554,102.206033,13.618194
23,Rübenkamp,11.350198,11.076997,13.312133,5188.322347,0.273200,93.898815,13.618098
24,Ohlsdorf,28.470753,25.077286,13.309434,5188.322347,3.393466,86.407921,13.606437
25,Airport,43.928658,45.387631,13.790622,5197.780113,-1.458973,43.928658,11.845392
26,Kornweg,6.295131,6.506929,12.805805,5176.051124,-0.211798,71.847940,14.309738
27,Hoheneichen,2.872659,2.930337,12.861610,5176.051124,-0.057678,66.695880,14.304494
28,Wellingsbüttel,14.744757,9.107116,12.865169,5176.051124,5.637640,65.752622,14.299251
29,Poppenbüttel,28.835393,31.789888,12.829775,5176.051124,-2.954494,28.835955,13.299251

### Try to iterate over dataset - WIP ...

In [94]:
n_stations = len(aggregated_data)
transition_matrix = np.zeros((n_stations, n_stations))

In [270]:
def calculate_probabilities(group):
    id = group['TripID'].unique()
    id = id[0]
    

    for idx in range(0, len(group)):

        group['percent_leaving_' + str(idx)] =  (group['Alightings'] / group['going_next_station'].shift(idx + 1).fillna(1)).fillna(0)
        #print(group['percent_leaving_' + str(idx)])

        group['percent_staying_' + str(idx)] = None
        # Set the first row for the transition from Station 1 to Station 1 to 1
        group.loc[idx, 'percent_staying_' + str(idx)] = 1

        j = 1

        if idx == 1:
            #print('tt',  group['percent_leaving_' + str(idx)])
            print(group['going_next_station'].shift(idx + 1).fillna(1))
            print(group['Alightings'][idx:len(group)])

        for j in range(j, len(group)):
        
            group.loc[j, 'percent_staying_' + str(idx)] = group.loc[j - 1, 'percent_staying_' + str(idx)] * (1 - group.loc[j - 1, 'percent_leaving_' + str(idx)])

        # Handle NaN values if necessary (e.g., fill with 0 or drop)
        group.fillna(0)
        
        j = j + 1
        # Initialize 'percent_staying'
        group['probability_leaving_' + str(idx)] =  group['percent_staying_' + str(idx)].shift(idx + 1).fillna(idx + 1) - group['percent_staying_' + str(idx)]
        #print(group['probability_leaving_' + str(idx)])
        #print('probability', 'mm')

    return group

##### gibt es irgendein Fehler...das problem mit der zweiten Runde..ich erstelle dynamisch Spalte für Wahrescheinlichkeiten für jeden Trip. Allerdings muss man auch die Wahrscheinlichkeiten für den Trip zurück betrachten. Von 2 nach 1 und nach 0...

In [272]:
test = trip.groupby(['TripID']).apply(calculate_probabilities)

0       1.0
1       1.0
2      89.0
3     104.0
4     110.0
5     116.0
6     121.0
7     123.0
8     126.0
9     165.0
10    169.0
11    252.0
12    253.0
13    261.0
14    254.0
15    249.0
16    130.0
17     95.0
18    102.0
19    100.0
20    103.0
21     99.0
22     94.0
23     99.0
24     96.0
25     87.0
Name: going_next_station, dtype: float64
1       2
2       8
3       0
4       7
5       3
6       0
7       7
8       5
9      53
10      1
11     20
12     43
13     11
14    131
15     89
16      5
17      8
18     14
19     21
20      9
21     17
22      6
23     18
24     41
25     82
Name: Alightings, dtype: int64

KeyError: 'TripID'